files:
    "/usr/local/bin/ffmpeg-install.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            source /opt/elasticbeanstalk/support/envvars
            if [ "${FFMPEG}" == "enable" ]; then
            cd /tmp && rm -Rf ffmpeg && wget https://s3.eu-west-2.amazonaws.com/handlesocial-packages/ffmpeg.zip -O ffmpeg.zip && unzip ffmpeg.zip
            rm -Rf /usr/bin/ffmpeg /usr/bin/ffprobe /usr/local/bin/ffmpeg/
            mv ffmpeg /usr/local/bin
            chmod +x /usr/local/bin/ffmpeg/ff*
            ln -s /usr/local/bin/ffmpeg/ffmpeg /usr/bin/ffmpeg
            ln -s /usr/local/bin/ffmpeg/ffprobe /usr/bin/ffprobe
            exit 0
            fi

container_commands:
  01-chmod:
    command: "chmod +x /usr/local/bin/ffmpeg-install.sh"
  02-install:
      command: "/usr/local/bin/ffmpeg-install.sh"