files:
  "/home/ec2-user/php-configure.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      . /opt/elasticbeanstalk/support/envvars
          ini_file="/etc/php-7.2.d/handlesocial.ini"
          rm -f $ini_file
          echo "upload_max_filesize = $PHP_MAX_UPLOAD" >> $ini_file
          echo "post_max_size = $PHP_POST_SIZE" >> $ini_file
          echo "session.save_handler = $PHP_HANDLER" >> $ini_file
          echo "session.save_path = tcp://$REDIS_HOST:6379" >> $ini_file
          echo "date.timezone = $PHP_TIMEZONE" >> $ini_file
container_commands:
  set_up:
    command: /home/ec2-user/php-configure.sh